/** CSS STYLE **/

/* .hello { 
  display: block;

  color: #fff;
}*/

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

a {
  text-decoration: none;
}



body {
  font-size: 16px;
  font-weight: 400;
  font-family: OpenSans;
  color: #2A2626;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;

}

h1,
h2,
h3 {
  color: #fe8A02;
  font-family: Neucha;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  /*доп стиль*/
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header {
  box-sizing: border-box;
  padding: 100px 0;
  background-color: #F5F4F0;
  position: relative;
}

.main_bkg::before {
  content: '';
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.header_title {
  margin-bottom: 185px;
}

.black {
  color: #2a2626;
}

.header_img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.flex_txt {
  display: flex;
}

.width_50 {
  width: 50%;
}

.wrp_30 {
  margin: 0 0 0 30px;
}

.left_side p:nth-last-child(2) {
  margin-bottom: 40px;
}


.header_button {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background: #FE8A02;
  padding: 12px 24px;
  text-decoration: none;

}

.header_button:hover {
  background: #EA7600;
  text-decoration: none;
}

/* Что такое когнитивные искажения? */

.about {
  padding: 100px 0;
}

.about_title {
  text-align: center;
  margin: 0 0 27px 0;
}

.about_subt {
  font-size: 16px;
  text-align: center;
  margin: 0 0 -170px 0;

}

.video_div {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 200px
}

/* 5 когнитивных искажений о существовании которых стоит помнить */

.navigation {
  padding: 200px 0 100px 0;
  background-color: #42413C;

}

.navigation_title {
  font-size: 52px;
  color: #fff;
}


.navigation_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation_list .navigation_title {
  width: 350px;
  padding: 24px;
  box-sizing: border-box;
  list-style: none;
  margin: 0
}

/* ul li {  */
.navigation_list .navigation_item {
  width: 350px;
  padding: 24px;
  box-sizing: border-box;
  background: #F5F4F0;
  list-style: none;

}

.navigation_item:nth-child(-n+3) {
  margin-bottom: 20px;
}

/* .no_padding { */
/* padding: 0; */
/* } */

.navigation_title {
  background: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.navigation_title_52 {
  font-size: 52px;
}

.navigation_item_num {
  font-size: 64px;
  color: #42413C;
  margin: 0 0 40px 0;
}

.navigation_item_title {
  margin: 0 0 16px 0;
}

.navigation_item_txt {
  color: #2A2626;
  margin: 0;
}

.navigation_item:hover {
  background-color: #FE8A02;
}

.navigation_item:hover .navigation_item_title {
  color: #fff;
}

.navigation_item:hover .navigation_item_num {
  color: #fff;
}

.navigation_item:hover .navigation_item_txt {
  color: #fff;

}

/* ikea-effect */
.ikea-effect {
  box-sizing: border-box;
  padding: 100px 0;
  background-color: #F5F4F0;
  position: relative;
}

.pictures {
  vertical-align: middle;
}

.pictures-div {
  z-index: 2;
  box-shadow: 0px 16px 32px 0px #00000026;

}

.title_50 {
  font-size: 24px;
  line-height: 29px;
  color: #908D8B;
}

.subtitle_60 {
  font-family: Neucha;
  font-size: 60px;
  line-height: 72px;
  margin: 0 0 30px 0;

}

.subtitle_34 {
  font-family: Neucha;
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
  margin: 0;
}

.wrp_100 {
  margin: 0 0 100px 0;
}

.how_appears {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 5px 0 5px 10px;
}

.brown_bkg {
  background-color: #b09a81;
  /*фон. цвет для заголовка как появляется, светлая  модель  */
}

.how_appears_title {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.white {
  color: #fff
    /*цвет для заголовка 'как появляется' на темном фоне   */
}

.brown {
  color: #b09a81;
  /*цвет для заголовка 'как появляется' на светлом фоне   */

}



/* Преждевременная оптимизация */
#premature-optimization {
  box-sizing: border-box;
  position: relative;
  padding: 100px 0;
  background: #b09a81;
  color: #fff;
}

.white_50 {
  color: #d7ccc0;
  /*цвет для заголовка 'когнитивные искажения' на темном фоне   */
}

.white_bkg {
  background: #fff;
  /*фоновый цвет для заголовка 'как появляется' темная модель  */
}